@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: "Reddit Mono", monospace;
}

:root{
    --purple: rgb(111, 53, 218);
    --white:#ffffff;
}


.search-section{
    background: rgb(115,60,218);
    background: linear-gradient(rgb(111, 53, 218) 0%, rgba(50,3,145,1) 60%);
}
.company-card-section{
    background: linear-gradient(rgba(50,3,145,1), black );
}

section{
    display: grid;
    place-items: center;
    justify-content: center;
    align-content: center;
    min-height:100vh;
    width: 100%;
    z-index: -1;
}

.search-container{
    display: flex;
    align-items: center;
    min-width: 700px;
    background-color: var(--white);
    border-radius: 50px;
    /* margin-bottom: 50px; */
}


.search-box{
    display: flex;
    align-items: center;
    padding-right: 1rem;
    width: 100%;
    color: var(--purple);
}

.search-box input{
    padding: 1rem;
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
    color: var(--purple);
    border: 0;
    outline: 0;
    z-index: 100000000;
}

.search-box i{
    font-size: 1.3rem;
}

.search-box input::placeholder{
    font-size: 1rem;
    font-weight: 500;
    color: var(--purple);
}

.base-Popper-root{
    margin-top: 2px !important;
    background-color: #ffffff !important;
    width: 40% !important;
    margin-left: 1% !important;
}

.MuiInputBase-root-MuiFilledInput-root::before{
    background-color: red !important;
}

.MuiInputBase-root-MuiFilledInput-root::after{
    background-color: red !important;
}
.css-o943dk-MuiFormLabel-root-MuiInputLabel-root.Mui-focused{
    color: var(--purple) !important;
}

.MuiInputBase-root, .MuiFilledInput-root{
    background-color: white !important;
    border-radius: 80px !important;
}

th{
    font-weight: 600 !important;
}

.hero-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 1;
}

.hero{
    position: 0;
    top: 0;
    transform: translateY(50%);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hero h1{
    font-size: 15em;
    font-weight: 800;
    letter-spacing: 50px;
    margin-bottom: -20px;
    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}

.MuiPaper-root{
    width: 75% !important;
}

.pull-forward{
    position: relative;
    z-index: 10 !important;
}
